header{
  display: block;
  .header-logo, .header-hb{
    display: none;
  }
  .header-menu{
    background-color: $color-black;
    display: block;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    top: 32px;
    z-index: 5;
    .main-menu{
      float: left;
      margin-top: 6px;
      padding-bottom: 6px;
      ul{
        li{
          float: left;
          margin-right: 18px;
          position: relative;
          a{
            color: white;
            text-decoration: none;
            z-index: 1;
            position: relative;
            padding-bottom: 3px;
          }
          a:hover{
            color: $color-blue;
          }
          a:before{
            content: '';
            position: absolute;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-blue;
            width: 100%;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.15s ease-in-out 0s;
          }
          a:hover:before{
            visibility: visible;
            transform: scaleX(1);
          }
          a:focus ul{
            background-color: #212121;
            display: block;
            left: -115px;
            top: 22px;
            width: 250%;
            height: 123px;
            text-align: left;
            a{
              box-sizing: border-box;
              padding: 5px 0px;
              width: 100%;
            }
          }
          ul{
            display: none;
            list-style: outside none none;
            margin-left: 105px;
            margin-top: -10px;
            padding-top: 15px;
            padding-bottom: 15px;
            position: absolute;
            li{
              margin-top: 12px;
              margin-left: 10px;
              width: 100%;
            }
          }
        }
        li:hover ul{
          background-color: #212121;
          display: block;
          left: -115px;
          top: 22px;
          width: 320%;
          text-align: left;
          a{
            box-sizing: border-box;
            padding: 5px 0px;
            width: 100%;
          }
        }
      }
    }
    .search-bar{
      float: right;
      .search-bar-div{
        width: 100%;
      }
      form{
        float: right;
        .screen-reader-text {
            display: none;
        }
        input[type="text"]{
          border: medium none;
          padding: 5px;
          background-color: white;
        }
        input[type="submit"]{
          padding: 4px;
          border: none;
          color: white;
          background-color: $color-blue;
          text-transform: uppercase;
        }
      }
    }
  }
  .header-banner{
    position: relative;
    img{
      width: 100%;
    }
    .header-banner-txt{
      bottom: 210px;
      color: white;
      font-size: 30px;
      position: absolute;
      right: 207px;
    }
  }
}
