@media screen and (max-width: 1350px) {
  /* Home page*/
  .header-alfa{
    .header-alfa-div{
      width: 19%;
    }
  }
}
@media screen and (max-width: 1280px) {
  /* Home page*/

  .about-alfa .about-alfa-div {
    width: 60%;
  }
  .news-alfa .news {
    width: 60%;
  }
  .news-alfa .news a {
    width: 30%;
  }
  footer .footer-partenaires .footer-partenaires-div {
    width: 50%;
  }

  // Contenu page courante
  .container-page .container-div {
    width: 90%;
  }
}
@media screen and (max-width: 1208px) {
  /* Home page*/
  .header-alfa{
    .header-alfa-div{
      width: 22%;
    }
  }

  // Contenu page courante
  .container-page .container-div {
    width: 90%;
  }
}
@media screen and (max-width: 1050px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 25%;
    }
  }
  .about-alfa .about-alfa-div {
    width: 70%;
  }
  .news-alfa .news {
    width: 70%;
  }
  .news-alfa .news a {
    width: 30%;
  }
  footer .footer-partenaires .footer-partenaires-div {
    width: 65%;
  }

  // Page équipe
  .container-page .container-div .page-liens a {
    width: 60%;
  }
}
@media screen and (max-width: 1040px) {
  /* Home page */
  .container{
    width: 100%;
  }
  .container-div{
    width: 100%;
  }
  .header-menu{
    height: 25px;
    position: relative;
  }
  .header-logo{
    display: block !important;
    .header-logo-menu{
      position: absolute;
      top: 7px;
      right: 25px;
    }
    .header-logo-img{
      position: absolute;
      top: 7px;
      left: 25px;
    }
  }
  .header-alfa{
    height: 75px;
    .header-alfa-div{
      width: 100%;
      a{
        display: none;
      }
      h1{
        float: none;
        text-align: center;
      }
    }
  }
  .main-menu, .search-bar{
    display: none;
  }
  header .header-hb{
    display: block;
  }
  .header-hb-nav{
    background-color: $color-black;
    bottom: 0;
    display: block;
    left: 100%;
    margin-top: 55px;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 50px;
    ul.menu{
      font-size: 1em;
      left: 0;
      position: static;
      width: 100%;
      li{
        a{
          color: white;
          display: block;
          padding: 1em;
          text-decoration: none;
        }
        a:hover{
          background-color: #303030;
        }
        .sub-menu li a{
          padding-left: 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 930px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 30%;
    }
  }
}
@media screen and (max-width: 800px) {
  /* Home page */
  .about-alfa .about-alfa-div {
    width: 100%;
  }
  .services-alfa .service {
    display: block;
    width: 100%;
  }
  .news-alfa .news {
    width: 100%;
  }
  .news-alfa .news a {
    width: 40%;
  }
  footer .footer-partenaires .footer-partenaires-div {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 35%;
    }
  }
}
@media screen and (max-width: 680px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 38%;
    }
  }
  .services-alfa .service .service_service .service-paragraphe p{
    text-align: left;
  }
  footer .footer-logo, footer .footer-sous-menu, footer .footer-partenaires {
      width: 32%;
  }
  footer .footer-partenaires .footer-partenaires-div {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 50%;
    }
  }
  footer .footer-logo{
    display: none;
  }
  footer .footer-sous-menu, footer .footer-partenaires {
      width: 49%;
  }
  footer .footer-partenaires .footer-partenaires-div {
    width: 100%;
  }

  // Page équipe
  .container-page .container-div .page-liens a {
    width: 100%;
  }

  // bannières sur toutes les page-liens
  .header-banner{
      display: none;
  }

  //Page contact
  .container-page .container-div .contact .contact-infos, .container-page .container-div .contact .contact-photo {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 65%;
    }
  }
}
@media screen and (max-width: 360px) {
  /* Home page */
  .header-alfa{
    .header-alfa-div{
      width: 75%;
    }
  }
  footer .footer-sous-menu, footer .footer-partenaires {
      width: 100%;
  }
  footer .footer-partenaires .footer-partenaires-div{
    display: block;
    margin: auto;
    width: 50%;
  }
  footer .footer-sous-menu ul{
    display: block;
    margin: auto auto 30px;
    width: 34%;
  }
}
